<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185157880246-278r9o94fhtbbv7qukp11a7kcqfcu875.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185157880246-278r9o94fhtbbv7qukp11a7kcqfcu875</string>
	<key>API_KEY</key>
	<string>AIzaSyDsTKywgn_7ixuLuAW7Yr1MMJU1BDjl-BA</string>
	<key>GCM_SENDER_ID</key>
	<string>185157880246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.LogistimaticsDemo</string>
	<key>PROJECT_ID</key>
	<string>logistimatics-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>logistimatics-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185157880246:ios:d6751af7c2f9416da91917</string>
	<key>DATABASE_URL</key>
	<string>https://logistimatics-demo.firebaseio.com</string>
</dict>
</plist>